<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Settlement details
        </h5>
        <p><b>Date:</b> {{settlement?.updateTimestamp | date}}</p>
        <p><b>Counterparty:</b> {{settlement?.counterpartySettlement.user.name}}</p>
        <p><b>Phone:</b> {{settlement?.counterpartySettlement.user.phone}}</p>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Instrument</th>
                <th scope="col">Expiry</th>
                <th scope="col">Side</th>
                <th scope="col" class="text-right">Quantity</th>
                <th scope="col" class="text-right">Price</th>
                <th scope="col" class="text-right">Amount</th>
                <th scope="col" class="text-right">Settlement Price</th>
                <th scope="col" class="text-right">Settlement Amount</th>
                <th scope="col" class="text-right">P/L</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trade of settlement?.trades;">
                <td>{{trade.updateTimestamp | date}}</td>
                <td>{{trade.instrument.name}}</td>
                <td>{{trade.instrument.expiry | date}}</td>
                <td>{{trade.side}}</td>
                <td class="text-right">{{trade.quantity}}</td>
                <td class="text-right">{{trade.price}}</td>
                <td class="text-right">{{trade.quantity * trade.price}}</td>
                <td class="text-right">{{trade.instrument.prices[0].value}}</td>
                <td class="text-right">{{trade.quantity * trade.instrument.prices[0].value}}</td>
                <td class="text-right">{{trade.side == 'BUY' ? trade.quantity * trade.instrument.prices[0].value - trade.quantity * trade.price : trade.quantity * trade.price -trade.quantity * trade.instrument.prices[0].value}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">Total: </th>
                <th class="text-right">{{settlement?.amount}}</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
