<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Transactions
        </h5>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="hideSettled" [checked]="hideSettled" (change)="hideSettled = !hideSettled">
          <label class="form-check-label" for="hideSettled">Hide settled trades</label>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th *ngIf="user?.role.isAdmin" scope="col">User</th>
                <th scope="col">Instrument</th>
                <th scope="col">Type</th>
                <th scope="col" class="text-right">Quantity</th>
                <th scope="col" class="text-right">Price</th>
                <th scope="col">Counterparty</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let trade of trades;">
                <tr *ngIf="!hideSettled || !trade.isSettled">
                  <td>{{trade.updateTimestamp | date}}</td>
                  <td *ngIf="user?.role.isAdmin" scope="col">{{trade.user.name}}</td>
                  <td>{{trade.instrument.name}}</td>
                  <td>{{trade.side}}</td>
                  <td class="text-right">{{trade.quantity}}</td>
                  <td class="text-right">{{trade.price}}</td>
                  <td>{{trade.counterpartyTrade.user.name}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
