<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Transactions
        </h5>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <td scope="col">Date</td>
                <td scope="col">Instrument</td>
                <td scope="col">Type</td>
                <td scope="col">Quantity</td>
                <td scope="col">Price</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions;">
                <td>{{transaction.updateTimestamp | date}}</td>
                <td>{{transaction.instrument.name}}</td>
                <td>{{transaction.side}}</td>
                <td>{{transaction.quantity}}</td>
                <td>{{transaction.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
