<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Transactions
        </h5>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th *ngIf="user?.role.isAdmin" scope="col">User</th>
                <th scope="col">Instrument</th>
                <th scope="col">Type</th>
                <th scope="col" class="text-right">Qty</th>
                <th scope="col" class="text-right">Price</th>
                <th scope="col">Counterparty</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let trade of trades;">
                <tr *ngIf="!configOptions?.hideSettled?.value || !trade.isSettled">
                  <td>{{trade.updateTimestamp | date}}</td>
                  <td *ngIf="user?.role.isAdmin" scope="col">{{trade.user.name}}</td>
                  <td>{{trade.instrument.name}}</td>
                  <td>{{trade.side}}</td>
                  <td class="text-right">{{trade.quantity  | number:'.0-0'}}</td>
                  <td class="text-right">{{trade.price  | number:'.2-2'}}</td>
                  <td>{{trade.counterpartyTrade.user.name}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<config-menu [(options)]="configOptions"></config-menu>
