.login-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: -75px;
}
.form-control {
  padding: 10px;
}
button {
  margin-top: 10px;
}
.register {
  text-align: center;
}
.card {
  opacity: 0.95;
}
.background {
  height: 100%;
  background: url("../../../assets/wc-background.png") no-repeat center;
  background-size: contain;
}
h6 {
  font-size: .7rem;
  margin-bottom: 0;
}
