<mat-card>
  <mat-card-title>
    Login
  </mat-card-title>
  <form
    class="login-container">
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        name="username"
        [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        name="password"
        type="password"
        [(ngModel)]="password">
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="login()">
      Logga in
    </button>
  </form>
</mat-card>
