<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div *ngIf="instrument" class="card-body">
        <h5 class="card-title">
          <span [ngClass]="'flag-icon flag-icon-' + (instrument.isin ? instrument.isin : instrument.underlying.isin)"></span> {{instrument.name}}
        </h5>
        <div class="row pb-2" *ngIf="instrument?.status == 'ACTIVE'">
          <div class="col-sm-6 pb-2 pb-sm-0">
            <button
              type="button"
              class="btn btn-sm btn-primary btn-block"
              [routerLink]="['/order', {instrument: orderDepth?.instrument.id, side: 'BUY', price: orderDepth?.levels[0]?.sellPrice}]">
              Buy {{orderDepth?.levels[0]?.sellPrice ? '@ ' + (orderDepth?.levels[0]?.sellPrice | number:'.2-2') : ''}}
            </button>
          </div>
          <div class="col-sm-6 ">
            <button
              type="button"
              class="btn btn-sm btn-danger btn-block"
              [routerLink]="['/order', {instrument: orderDepth?.instrument.id, side: 'SELL', price: orderDepth?.levels[0]?.buyPrice}]">
              Sell {{orderDepth?.levels[0]?.buyPrice ? '@ ' + (orderDepth?.levels[0]?.buyPrice | number:'.2-2') : ''}}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-auto table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col" class="border-top-0">Last</th>
                  <th scope="col" class="border-top-0">High</th>
                  <th scope="col" class="border-top-0">Low</th>
                  <th scope="col" class="border-top-0">Close</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{((instrument.prices | price:'LAST')?.value | number:'.2-2') || 'N/A'}}</td>
                  <td>{{((instrument.prices | price:'HIGH')?.value | number:'.2-2') || 'N/A'}}</td>
                  <td>{{((instrument.prices | price:'LOW')?.value | number:'.2-2') || 'N/A'}}</td>
                  <td>{{((instrument.prices | price:'CLOSE')?.value | number:'.2-2') || 'N/A'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h6 class="card-title">
              Order Depth
            </h6>
            <order-depth [orderDepth]="orderDepth"></order-depth>
          </div>
          <div class="col-md-6 order-md-first instrument-info mb-3">
            <h6 class="card-title">
              Information
            </h6>
            <div class="row mb-0">
              <div class="col-5 col-lg-4"><b>Type</b></div>
              <div class="col">{{instrument.type}}</div>
            </div>
            <div *ngIf="instrument.ticker" class="row mb-0">
              <div class="col-5 col-lg-4"><b>Ticker</b></div>
              <div class="col">{{instrument.ticker}}</div>
            </div>
            <div *ngIf="instrument.isin" class="row mb-0">
              <div class="col-5 col-lg-4"><b>ISIN</b></div>
              <div class="col">{{instrument.isin}}</div>
            </div>
            <div *ngIf="instrument.underlying" class="row mb-0">
              <div class="col-5 col-lg-4"><b>Underlying</b></div>
              <div class="col">
                <a
                routerLink="/instruments/{{instrument.underlying.id}}">
                {{instrument.underlying.name}}
                </a>
              </div>
            </div>
            <div *ngIf="instrument.underlying" class="row mb-0">
              <div class="col-5 col-lg-4"><b>Expiry</b></div>
              <div class="col">{{instrument.expiry | dateonly}}</div>
            </div>
          </div>
          <div class="col-md-6 table-responsive" *ngIf="instrument?.derivatives.length > 0">
            <h6 class="card-title">
              Derivatives
            </h6>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col" class="border-top-0">Name</th>
                  <th scope="col" class="border-top-0">Expiry</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let derivative of instrument.derivatives;">
                  <td>
                    <a
                      routerLink="/instruments/{{derivative.id}}">
                      {{derivative.name}}
                    </a>
                  </td>
                  <td>{{derivative.expiry | dateonly}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6" *ngIf="chartLabels?.length > 0">
            <h6 class="card-title">
              History
            </h6>
            <canvas
              class="mt-2 mb-3"
              baseChart
              [chartType]="'line'"
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="false">
            </canvas>
          </div>
          <div class="col-md-6" *ngIf="tickers?.length > 0">
            <h6 class="card-title">
              Ticker
            </h6>
            <div class="table-responsive">
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="border-top-0">Time</th>
                    <th scope="col" class="text-right border-top-0">Qty</th>
                    <th scope="col" class="text-right border-top-0">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let ticker of tickers;">
                    <tr>
                      <td>{{ticker.timestamp | date:'HH:mm, MMM, d'}}</td>
                      <td class="text-right">{{ticker.quantity | number:'.0-0'}}</td>
                      <td class="text-right">{{ticker.price | number:'.2-2'}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
