<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div *ngIf="instrument" class="card-body">
        <h5 class="card-title">
          {{instrument.name}}
        </h5>
        <div class="row" *ngIf="instrument?.status == 'ACTIVE'">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <button
                  type="button"
                  class="btn btn-sm btn-primary btn-block"
                  [routerLink]="['/order', {instrument: orderDepth?.instrument.id, side: 'BUY', price: orderDepth?.levels[0]?.sellPrice}]">
                  Buy {{orderDepth?.levels[0]?.sellPrice ? '@ ' + (orderDepth?.levels[0]?.sellPrice | number:'.2-2') : ''}}
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <button
                  type="button"
                  class="btn btn-sm btn-danger btn-block"
                  [routerLink]="['/order', {instrument: orderDepth?.instrument.id, side: 'SELL', price: orderDepth?.levels[0]?.buyPrice}]">
                  Sell {{orderDepth?.levels[0]?.buyPrice ? '@ ' + (orderDepth?.levels[0]?.buyPrice | number:'.2-2') : ''}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-auto table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col" class="border-top-0">Last</th>
                  <th scope="col" class="border-top-0">High</th>
                  <th scope="col" class="border-top-0">Low</th>
                  <th scope="col" class="border-top-0">Close</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{((instrument.prices | price:'LAST')?.value | number:'.2-2') || 'N/A'}}</td>
                  <td>{{((instrument.prices | price:'HIGH')?.value | number:'.2-2') || 'N/A'}}</td>
                  <td>{{((instrument.prices | price:'LOW')?.value | number:'.2-2') || 'N/A'}}</td>
                  <td>{{((instrument.prices | price:'CLOSE')?.value | number:'.2-2') || 'N/A'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 table-responsive">
            <table *ngIf="orderDepth?.levels.length > 0" class="table table-sm table-hover">
              <thead>
                <tr>
                  <th scope="col" class="border-top-0"><i class="fa fa-fw fa-balance-scale"></i></th>
                  <th scope="col" class="border-top-0"><i class="fa fa-fw fa-money"></i></th>
                  <th scope="col" class="border-top-0 text-center">B</th>
                  <th scope="col" class="border-top-0 text-center">S</th>
                  <th scope="col" class="border-top-0 text-right"><i class="fa fa-fw fa-money"></i></th>
                  <th scope="col" class="border-top-0 text-right"><i class="fa fa-fw fa-balance-scale"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let level of orderDepth.levels;">
                  <td>
                    <a
                    [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'SELL', quantity: level.buyQuantity, price: level.buyPrice}]">
                    {{level.buyQuantity | number:'.0-0'}}
                    </a>
                  </td>
                  <td>
                    <a
                    [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'SELL', price: level.buyPrice}]">
                    {{level.buyPrice | number:'.2-2'}}
                    </a>
                  </td>
                  <td class="text-right">
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        [style.width.%]="(level.buyQuantity*100)/orderDepth.max"
                        [style.margin-left.%]="100-(level.buyQuantity*100)/orderDepth.max">
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="progress">
                      <div
                        class="progress-bar bg-danger"
                        role="progressbar"
                        [style.width.%]="(level.sellQuantity*100)/orderDepth.max">
                      </div>
                    </div>
                  </td>
                  <td class="text-right">
                    <a
                      [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'BUY', price: level.sellPrice}]">
                      {{level.sellPrice | number:'.2-2'}}
                    </a>
                  </td>
                  <td class="text-right">
                    <a
                      [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'BUY', quantity: level.sellQuantity, price: level.sellPrice}]">
                      {{level.sellQuantity | number:'.0-0'}}
                    </a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col">{{orderDepth.totalBuy | number:'.0-0'}}</th>
                  <th scope="col"></th>
                  <th scope="col" class="text-right">
                    <div class="progress">
                      <div
                        *ngIf="orderDepth.totalBuy"
                        class="progress-bar"
                        role="progressbar"
                        [style.width.%]="(orderDepth.totalBuy*100)/(orderDepth.totalBuy + orderDepth.totalSell)"
                        [style.margin-left.%]="100-(orderDepth.totalBuy*100)/(orderDepth.totalBuy + orderDepth.totalSell)">
                      </div>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="progress">
                      <div
                        *ngIf="orderDepth.totalSell"
                        class="progress-bar bg-danger"
                        role="progressbar"
                        [style.width.%]="(orderDepth.totalSell*100)/(orderDepth.totalBuy + orderDepth.totalSell)">
                      </div>
                    </div>
                  </th>
                  <th scope="col" class="text-right"></th>
                  <th scope="col" class="text-right">{{orderDepth.totalSell | number:'.0-0'}}</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="col-md-6 order-md-first">
            <div class="row">
              <div class="col-5 col-lg-4"><b>Type</b></div>
              <div class="col">{{instrument.type}}</div>
            </div>
            <!--
            <div *ngIf="instrument.ticker" class="row">
              <div class="col-5 col-lg-4"><b>Ticker</b></div>
              <div class="col">{{instrument.ticker}}</div>
            </div>
            <div *ngIf="instrument.isin" class="row">
              <div class="col-5 col-lg-4"><b>ISIN</b></div>
              <div class="col">{{instrument.isin}}</div>
            </div>
            -->
            <div *ngIf="instrument.underlying" class="row">
              <div class="col-5 col-lg-4"><b>Underlying</b></div>
              <div class="col">
                <a
                routerLink="/instruments/{{instrument.underlying.id}}">
                {{instrument.underlying.name}}
                </a>
              </div>
            </div>
            <div *ngIf="instrument.underlying" class="row">
              <div class="col-5 col-lg-4"><b>Expiry</b></div>
              <div class="col">{{instrument.expiry | dateonly}}</div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="instrument?.derivatives.length > 0">
          <div class="col-sm-auto table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col" class="border-top-0">Name</th>
                  <th scope="col" class="border-top-0">Expiry</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let derivative of instrument.derivatives;">
                  <td>
                    <a
                      routerLink="/instruments/{{derivative.id}}">
                      {{derivative.name}}
                    </a>
                  </td>
                  <td>{{derivative.expiry | dateonly}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-2" *ngIf="chartLabels?.length > 0">
          <div class="col-sm-12">
            <canvas
              baseChart
              [chartType]="'line'"
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="false">
          </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
