<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Order
        </h5>
        <div class="row">
          <div class="col-md-6">
            <h6 class="card-title">
              Details
            </h6>
            <form>
              <div class="form-group">
                <label for="instrument">Instrument</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-fw fa-newspaper-o" aria-hidden="true"></i></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    name="instrument"
                    id="instrument"
                    [typeahead]="instruments"
                    [typeaheadMinLength]="0"
                    typeaheadOptionField="name"
                    placeholder="Click to search"
                    [(ngModel)]="instrument"
                    required
                    disabled/>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Side</label>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input
                          type="radio"
                          class="custom-control-input"
                          name="side"
                          id="buy"
                          (change)="onSideChange('BUY')"
                          [checked]="side == 'BUY' ? true : false"
                          required>
                        <label class="custom-control-label" for="buy">Buy</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input
                          type="radio"
                          class="custom-control-input"
                          name="side"
                          id="sell"
                          (change)="onSideChange('SELL')"
                          [checked]="side == 'SELL' ? true : false"
                          required>
                        <label class="custom-control-label" for="sell">Sell</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="quantity">Quantity</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-fw fa-balance-scale" aria-hidden="true"></i></span>
                    </div>
                    <input
                      type="number"
                      step="1"
                      min="0"
                      class="form-control"
                      name="quantity"
                      id="quantity"
                      [(ngModel)]="quantity"
                      required />
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="price">Price</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-fw fa-money" aria-hidden="true"></i></span>
                    </div>
                    <input
                      type="number"
                      step="0.01"
                      min="0"
                      class="form-control"
                      name="price"
                      id="price"
                      [(ngModel)]="price"
                      required />
                  </div>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-lg btn-primary btn-block"
                (click)="openModal(orderConfirm)"
                [disabled]="!quantity || !price">
                <i class="fa fa-unlock"></i> Verify
              </button>
            </form>
          </div>
          <div class="col-md-6">
            <h6 class="card-title">
              Order Depth
            </h6>
            <order-depth [orderDepth]="orderDepth"></order-depth>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div [hidden]="!order" class="alert alert-success" role="alert">
              {{order?.status}}
            </div>
            <div [hidden]="!errorMessage" class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #orderConfirm>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Confirm order
        </h5>
        <div class="row">
          <div class="col-5 col-lg-4"><b>Instrument</b></div>
          <div class="col">{{instrument}}</div>
        </div>
        <div class="row">
          <div class="col-5 col-lg-4"><b>Side</b></div>
          <div class="col">{{side}}</div>
        </div>
        <div class="row">
          <div class="col-5 col-lg-4"><b>Quantity</b></div>
          <div class="col">{{quantity | number:'.0-0'}}</div>
        </div>
        <div class="row">
          <div class="col-5 col-lg-4"><b>Price</b></div>
          <div class="col">{{price | number:'.2-2'}}</div>
        </div>
        <br>
        <p>
          Maximum potential loss for this order is {{(side == 'BUY' ? quantity * price : quantity * (30-price)) | number:'.2-2'}} SEK.
        </p>
        <button type="button" class="btn btn-success mr-2" (click)="placeOrder()" ><i class="fa fa-paper-plane-o"></i> Submit</button>
        <button type="button" class="btn btn-danger" (click)="confirmationModal.hide()" ><i class="fa fa-times"></i> Abort</button>
      </div>
    </div>
</ng-template>
