<mat-card>
  <mat-card-title>
    New Order
  </mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        name="instrument"
        disabled
        [ngModel]="instrument?.name">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Side"
        name="side"
        [(ngModel)]="side">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Quantity"
        name="quantity"
        [(ngModel)]="quantity">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Price"
        name="price"
        [(ngModel)]="price">
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="placeOrder()">
      Place order
    </button>
  </form>
  {{order?.status}}
</mat-card>
