.config-menu {
    position: fixed;
    left: 0;
    bottom: 5%;
}

.config-menu .row {
  margin: 0;
}

.config-menu .col {
  padding-left: 0;
  padding-right: 0;
}

.config-menu .col-auto {
  padding-left: 5px;
  padding-right: 0px;
}

.config-options {
  padding-left: 35px;
  padding-right: 35px;
  background-color: lightgray;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  min-height: 150px;
  padding-top: 10px;
}

.config-cog {
  background-color:rgba(0, 0, 0, 0.0);
}

.config-cog:hover {
  cursor: pointer;
}

label {
  padding-bottom: 10px;
}
