<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          General Information
        </h5>
        <p>
          Welcome to the Hox Trader application.
        </p>
        <div class="alert alert-info" role="alert">
          E.g. Buy 10 Hox Sweden May 18 for 225 SEK each. If settling @ 230 SEK, (i.e. you sell back at 230 SEK),
          you have made a profit of (230-225) * 10 = 50 SEK.<br>
        </div>

        <h5 class="card-title">
          FAQ
        </h5>

        <div class="list-group">
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">
                How do I trade?
              </h6>
            </div>
            <p class="mb-1">
              Tading is made on an open market where you are free to enter Buy and Sell
              orders according you your market belief. If a Buy Order matches with a Sell
              Order, this will result in a Trade. There is no central clearing of trades,
              so you will get a counterparty for each trade that is made. This is the counterparty(s)
              that you will later on do the settlements with.
            </p>
          </div>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">
                How will the settlement be handled?
              </h6>
            </div>
            <p class="mb-1">
              Settlement processing is automated, and will be triggered as soon
              as a settlement price is available. This means that settlements canvas
              be done throughout the tournament as soon as a team gets kicked out.
              When a settlement instruction has been created it will appear under the
              Settlements section.<br>
              Since trading is settled peer-to-peer, you will get one settlement instruction
              per counterparty. If you are the payer, you will get a QR code for Swishing
              the settlement amount to you counterparty.<br>
              Don't forget to acknowledge when you have swished the settlement amount,
              and when you have recieved the settlement amount.
            </p>
          </div>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">
                I've found a bug, what do I do?
              </h6>
            </div>
            <p class="mb-1">
              This application was impelmented for fun, without any commercial interest.
              If you want to report a bug, or other issues send an e-mail to erikssonlarsb@gmail.com
              Please! don't exploit any bugs or security issues that you might find.
              Remember that you are trading wth your friends, and the friends
              of your friends.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
