<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          General Information
        </h5>
        <p>
          Welcome to the World Cup 2018 trading application!
        </p>
        <p>
          Make sure to join the Whatsapp <a target="_blank" href="https://chat.whatsapp.com/9dkSnII4fK5IRyjs62wUv5">chat group</a>.
        </p>
        <p>
          The trading is modelled as financial forwards, where each participating team
          is represented by a tradable instrument. You can both buy and sell a team
          depending on your belief in the teams performance in the tournament. The
          teams are traded on an open market, where the price is decided by what
          other traders are willing to buy and sell the teams for.
        </p>
        <p>
          At the end of the tournament (or when a team is eleminated), each trade is
          settled according to a price decided on how the team performs in the tournament.
          I.e. if you buy a team at a price decided by the market, you will then sell
          at a settlement price decided by the teams placement. In the same way, if you instead
          sell a team on the market, at settlement you will buy back at the settlement price.
        </p>
        <p>
          The Settlement prices are calculated as follows:
        </p>
        <div class="row">
          <div class="col-md-4">
            <ul class="list-group">
              <li class="list-group-item">
                <h6>1:st <span class="badge badge-gold pull-right">30</span></h6>
              </li>
              <li class="list-group-item">
                <h6>2:nd <span class="badge badge-silver pull-right">25</span></h6>
              </li>
              <li class="list-group-item">
                <h6>3:rd <span class="badge badge-bronze pull-right">20</span></h6>
              </li>
              <li class="list-group-item">
                <h6>4:th <span class="badge badge-success pull-right">15</span></h6>
              </li>
              <li class="list-group-item">
                <h6>Quarter-finals <span class="badge badge-success pull-right">10</span></h6>
              </li>
              <li class="list-group-item">
                <h6>Round of 16 <span class="badge badge-success pull-right">5</span></h6>
              </li>
              <li class="list-group-item">
                <h6>Group Stage <span class="badge badge-danger pull-right">0</span></h6>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <p>
              E.g. in World Cup 2014 England was knocked out in the Group Stage, and thus got 0 points.
              Costa Rica did an impressive effort and got all the way to the quarter-finals and was
              therefore awarded 10 points. And the winner, Germany, got the highest score of 30 points!
            </p>
            <p>
              So, in short, if you belive that a team will perform good in the tournament,
              you should aim to buy that team for a price lower than what you think think their settlement price will be.<br>
              If you on the other hand believe a team will perform badly, you should sell that team to a price
              higher that what you think they will settle at in the end.
            </p>
            <p>
              Calculating the result is fairly simple. You buy a quantity <var>q</var> at a price <var>p<sub>B</sub></var> with
              a total value of <var>v<sub>B</sub></var>. And you sell the same quantity <var>q</var> at a price <var>p<sub>S</sub></var> with
              a total value of <var>v<sub>S</sub></var>. The profit/loss (<var>PnL</var>) is calculated as the difference between the total sell value and the
              total buy value as follows:
            </p>
            <samp>
              PnL = v<sub>S</sub> - v<sub>B</sub> = q * (p<sub>S</sub> - p<sub>B</sub>)
            </samp>
          </div>
        </div>
        <p>
          The calculation is the same wheter you buy or sell in the open market, it's just a matter in which order the transactions
          take place. If you take a long position (i.e. buy in the open market), <var>p<sub>B</sub></var> is the price that you paid,
          and <var>p<sub>S</sub></var> will be the settlement price. Conversely, if you take a short position (i.e. sell in the open market),
          <var>p<sub>S</sub></var> is the price that you sold for, and <var>p<sub>B</sub></var> will be the settlement price.
        </p>
        <div class="alert alert-info" role="alert">
          <h6>Example: Long position</h6>
          <p>
            You are convinced that Germany will win this year again. From the settlement table above you can see that if they win,
            they will settle at 30 SEK. The market on the other hand don't believe as strongly in Germany, and the price to buy
            is therefore only 20 SEK. A bargin you think, and therefore buy a quantity of 10.
          </p>
          <samp>
            v<sub>B</sub> = q * p<sub>B</sub> = 10 * 20 = 200 SEK
          </samp>
          <p>
            In this example Germany goes to final, but loses (i.e. end up in 2:nd place). The settlement will thus be done at 25 SEK per contract.
          </p>
          <samp>
            v<sub>S</sub> = q * p<sub>S</sub> = 10 * 25 = 250 SEK =><br>
            PnL = v<sub>S</sub> - v<sub>B</sub> = q * (p<sub>S</sub> - p<sub>B</sub>) = 10 * (25 - 20) = 50 SEK.
          </samp>
          <p>
            So, even though Germany didn't score gold, the settlement price was still higher than the price you paid in the open market,
            and therefore you made a profit of 50 SEK.
          </p>
          <p>
            <b>OBSERVE!</b><br>
            If Germany would instead end up in 4:th place (settlement price of 15 SEK) you would instead lose money on the bet.
          </p>
          <samp>
            PnL = q * (p<sub>S</sub> - p<sub>B</sub>) = 10 * (15 - 20) = -50 SEK.
          </samp>
        </div>
        <div class="alert alert-info" role="alert">
          <h6>Example: Short position</h6>
          <p>
            What if you believe that Germany won't be able to perform as good as last time, and at best reach the Quarter-finals?
            Then you should take a short position (i.e. sell in the open market) at a price higher than 10 SEK. The market offers
            to buy at 14 SEK, so you proceed to buy 20 contracts.
          </p>
          <samp>
            v<sub>S</sub> = q * p<sub>S</sub> = 20 * 14 = 280 SEK
          </samp>
          <p>
            Your prediction becomes true. Germany is kicked out in the quarter finals, and is therefore settled at 10 SEK.
          </p>
          <samp>
            v<sub>B</sub> = q * p<sub>B</sub> = 20 * 10 = 200 SEK =><br>
            PnL = v<sub>S</sub> - v<sub>B</sub> = q * (p<sub>S</sub> - p<sub>B</sub>) = 20 * (14 - 10) = 80 SEK.
          </samp>
          <p>
            Betting on a team to perform badly can be just as fruitful, and you made a profit of 80 SEK.
          </p>
        </div>

        <h5 class="card-title">
          Trading
        </h5>
        <p>
          On the <a routerLink="/instruments">Overview</a> page you'll find a list of all the teams with the current price to Buy or Sell.
          Click the blue Buy button, or the red Sell button to go to the order entry page. Fill out the form
          and press Submit to send the order to the market. The orders that you create will be visible on the
          <a routerLink="/orders">Orders</a> page.
        </p>
        <p>
          If there's an order on the opposite side with the same (or more favourable) price,
          the orders will be matched and you will get a trade which can be seen on the <a routerLink="/transactions">Trades</a> page.
          If the order is not matched directly, you can either wait for it to be matched when someone enters
          a matching order. Or you can withdraw the order by clicking the <i>Withdraw</i> button next to the order.
        </p>
        <p>
          There's also a possibility to click the team name on the overview page, to get to the details page.
          On the details page you can see a complete view of all the Buy and Sell levels on the market. You can
          also see a chart of how the team has been traded historically.
        </p>
        <p>
          Furthermore the overview also contains a Statistics table where you can see how each team
          succeeded in the last World Cup (2014), and an average of the team's results for the last 5 World Cups.
          Click the team name (with a flag in front) to see a more detailed view.
        </p>

        <h5 class="card-title">
          Settlement
        </h5>
        <p>
          Settlement processing is automated, and will be triggered as soon as a settlement price can be decided
          (i.e. when a team's final placement in the tournament is known). This means that settlements can
          be done throughout the tournament as soon as a team gets kicked out. When a settlement instruction has been
          created it will appear on the <a routerLink="/settlements">Settlements</a> page.
        </p>
        <p>
          Since trading is settled peer-to-peer, you will get one settlement instruction
          per counterparty. If you are the payer, you will get a QR code for Swishing
          the settlement amount to you counterparty. Don't forget to acknowledge when you have swished the settlement amount,
          and when you have recieved the settlement amount.
        </p>
        <p>
          OBSERVE!<br>
          For Swish settlement to work, make sure that you have filled out a Swish-connected phone number on your User profile page.
          Click the User silhouette in the menu bar to view and edit your user.
        </p>

        <h5 class="card-title">
          FAQ
        </h5>
        <div class="list-group">
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">
                Why do the derivative names end with <i>Jul 18</i>?
              </h6>
            </div>
            <p class="mb-1">
              The instruments are automatically named according to the commodity derivatives
              convention of using the underlying name plus the month and year of expiry.
              Since World Cup ends in July 2018, the name becomes e.g. <i>Germany Jul 18</i>.
            </p>
          </div>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">
                Why is the expiry date July 16:th, when the final is on the 15:th?
              </h6>
            </div>
            <p class="mb-1">
              The applocation has a builtin restriction that only allows trading up until
              the day before settlement. But in order to keep betting alive during the final the
              expiry has been set to the day after. So! When the final is over, make sure that you
              don't have any active orders left in the market, or you may be hit badly.
              <br>
              Actually this is relevant throughout the whole tournament. If e.g. England is
              kicked out in the group stage, we will then know that their settlement price will
              be 0. But since all derivatives expire on July 16:th, it will technically be
              possible to continue trading in England. You should therefore make sure that
              you don't have any outstanding orders in teams that has been kicked out of the
              tournament, or you may be hit badly.
            </p>
          </div>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">
                How do I invite someone to the game?
              </h6>
            </div>
            <p class="mb-1">
              Navigate to the User profile page. Under <i>Invites</i>
              click the <i>New invite</i> button to generate a new invite code.<br>
              Click the copy icon next to the code to copy a complete invite link to the clipboard.
              The invite is valid for one registration, and when it has been used you will instead
              see the name of the person that used the invite.<br>
              You can create as many invites as you like. But be aware of that it is logged who you
              invite; so <b>do</b> feel responsible for whom you invite.
            </p>
          </div>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">
                I've found a bug, what do I do?
              </h6>
            </div>
            <p class="mb-1">
              This application was implemented for fun, without any commercial interest.
              If you want to report a bug, or other issues send an e-mail to erikssonlarsb@gmail.com
              Please! don't exploit any bugs or security issues that you might find.
              Remember that you are trading wth your friends, and the friends
              of your friends.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
