<div class="row" *ngIf="!reVisit">
  <div class="col-md-12">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong>First time here?</strong> You should visit the <a routerLink="/information">info page</a>
      for instructions and important information.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissInfo()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
<div class="row">

  <!-- Reduced view -->
  <div class="col-md-7" *ngIf="!configOptions?.classicView?.value">
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-fw fa-filter" aria-hidden="true"></i></span>
        </div>
        <input
          type="text"
          placeholder="Search"
          class="form-control"
          name="filter"
          id="filter"
          [typeahead]="indices"
          typeaheadOptionField="name"
          [(ngModel)]="orderDepthFilter" />
      </div>
    </div>
    <div class="card" *ngFor="let orderDepth of orderDepths | orderDepth:orderDepthFilter">
      <div class="card-body">
        <h5 class="card-title">
          <a
            routerLink="/instruments/{{orderDepth.instrument.id}}">
            {{orderDepth.instrument.name}}
          </a>
        </h5>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <button
                  type="button"
                  class="btn btn-sm btn-primary btn-block"
                  [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'BUY', price: orderDepth.levels[0]?.sellPrice}]">
                  Buy {{orderDepth.levels[0]?.sellPrice ? '@ ' + (orderDepth.levels[0]?.sellPrice | number:'.2-2') : ''}}
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <button
                  type="button"
                  class="btn btn-sm btn-danger btn-block"
                  [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'SELL', price: orderDepth.levels[0]?.buyPrice}]">
                  Sell {{orderDepth.levels[0]?.buyPrice ? '@ ' + (orderDepth.levels[0]?.buyPrice | number:'.2-2') : ''}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Classic view -->
  <div class="col-md-7" *ngIf="configOptions?.classicView?.value">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Market
        </h5>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col" class="border-top-0"></th>
                <th scope="col" class="border-top-0"></th>
                <th scope="col" colspan="2" class="text-center border-top-0">Bid</th>
                <th scope="col" colspan="2" class="text-center border-top-0">Ask</th>
              </tr>
              <tr>
                <th scope="col">Instrument</th>
                <th scope="col" class="text-right">Last</th>
                <th scope="col" class="text-right">Qty</th>
                <th scope="col" class="text-right">Price</th>
                <th scope="col" class="text-right">Price</th>
                <th scope="col" class="text-right">Qty</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let orderDepth of orderDepths">
                <tr>
                  <td>
                    <a
                      routerLink="/instruments/{{orderDepth.instrument.id}}">
                      {{orderDepth.instrument.name}}
                    </a>
                  </td>
                  <td class="text-right">{{((orderDepth.instrument.prices | price:'LAST')?.value | number:'.2-2') || 'N/A'}}</td>
                  <td class="text-right">
                    <a [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'SELL', quantity: orderDepth.levels[0]?.buyQuantity, price: orderDepth.levels[0]?.buyPrice}]">
                      {{(orderDepth.levels[0]?.buyQuantity | number:'.0-0') || 'N/A'}}
                    </a>
                  </td>
                  <td class="text-right">
                    <a [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'SELL', price: orderDepth.levels[0]?.buyPrice}]">
                      {{(orderDepth.levels[0]?.buyPrice | number:'.2-2') || 'N/A'}}
                    </a>
                  </td>
                  <td class="text-right">
                    <a [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'BUY', price: orderDepth.levels[0]?.sellPrice}]">
                      {{(orderDepth.levels[0]?.sellPrice | number:'.2-2') || 'N/A'}}
                    </a>
                  </td>
                  <td class="text-right">
                    <a [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'BUY', quantity: orderDepth.levels[0]?.sellQuantity, price: orderDepth.levels[0]?.sellPrice}]">
                      {{(orderDepth.levels[0]?.sellQuantity | number:'.0-0') || 'N/A'}}
                    </a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Statistics
        </h5>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="border-top-0">&nbsp;</th>
              </tr>
              <tr>
                <th scope="col">Name</th>
                <th scope="col" class="text-right">2014</th>
                <th scope="col" class="text-right">Last 5 avg.</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let index of indices;">
                <tr>
                  <td><a routerLink="/instruments/{{index.id}}">
                    <span [ngClass]="'flag-icon flag-icon-' + index.isin" ></span>
                    {{index.name}}</a></td>
                  <td class="text-right">{{(index.prices | price:'CLOSE')?.value | number:'.0-0'}}</td>
                  <td class="text-right">{{index.prices | averagePrice:'CLOSE' | number:'.0-0'}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<config-menu [(options)]="configOptions" [spin]="configSpin"></config-menu>
