<div class="row">
  <div class="col-md-6">
    <div class="card" *ngFor="let orderDepth of orderDepths;">
      <div class="card-body">
        <h5 class="card-title">
          <a
            routerLink="/instruments/{{orderDepth.instrument.id}}">
            {{orderDepth.instrument.name}}
          </a>
        </h5>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <button
                  type="button"
                  class="btn btn-sm btn-primary btn-block"
                  [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'BUY', price: orderDepth.levels[0]?.sellPrice}]">
                  Buy {{orderDepth.levels[0]?.sellPrice ? '@ ' + (orderDepth.levels[0]?.sellPrice | number:'.0-0') : ''}}
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <button
                  type="button"
                  class="btn btn-sm btn-danger btn-block"
                  [routerLink]="['/order', {instrument: orderDepth.instrument.id, side: 'SELL', price: orderDepth.levels[0]?.buyPrice}]">
                  Sell {{orderDepth.levels[0]?.buyPrice ? '@ ' + (orderDepth.levels[0]?.buyPrice | number:'.0-0') : ''}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Statistics
        </h5>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col" class="text-right">2014</th>
                <th scope="col" class="text-right">Last 5 avg.</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let index of indices;">
                <tr>
                  <td><a routerLink="/instruments/{{index.id}}">{{index.name}}</a></td>
                  <td class="text-right">{{(index.prices | price:'CLOSE')?.value | number:'.0-0'}}</td>
                  <td class="text-right">{{index.prices | averagePrice:'CLOSE' | number:'.0-0'}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
