/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

html, body {
  height: calc(100% - 30px);

}
body {
  background-color: #eee;
}

th.text-right,
td.text-right {
  padding-right: 15px;
}

td > button.btn-sm {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
}

.table td {
  height: 1px;
  vertical-align: middle;
}

.table thead th, .table thead td {
  vertical-align: top;
  border-bottom: 1px solid #dee2e6;
}
.table td, th {
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Fix height for iOS */
input {
	height: 2.5rem;
}
