/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

body {
  background-color: #eee;
}

th.text-right,
td.text-right {
  padding-right: 15px;
}

td > button.btn-sm {
  padding-top: 0px;
  padding-bottom: 0px;
}
