<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Orders
        </h5>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th *ngIf="user?.role.isAdmin" scope="col">User</th>
                <th scope="col">Instrument</th>
                <th scope="col">Side</th>
                <th scope="col" class="text-right">Qty</th>
                <th scope="col" class="text-right">Traded</th>
                <th scope="col" class="text-right">Price</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let order of orders;">
                <tr *ngIf="(!configOptions?.hideExpiredInstruments?.value || order.instrument.status == 'ACTIVE') &&
                           (!configOptions?.hideNonActiveOrders?.value || order.status == 'ACTIVE')">
                  <td title="{{order.createTimestamp}}">{{order.createTimestamp | date}}</td>
                  <td *ngIf="user?.role.isAdmin" scope="col">{{order.user.name}}</td>
                  <td>{{order.instrument.name}}</td>
                  <td>{{order.side}}</td>
                  <td class="text-right">{{order.quantity | number:'.0-0'}}</td>
                  <td class="text-right">{{order.tradedQuantity  | number:'.0-0'}}</td>
                  <td class="text-right">{{order.price | number:'.2-2'}}</td>
                  <td>{{order.status}}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm btn-danger btn-block"
                      (click)="withdrawOrder(order.id)"
                      [hidden]="order.status != 'ACTIVE'">
                      <i class="fa fa-trash"></i> Withdraw
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<config-menu [(options)]="configOptions"></config-menu>
