<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Orders
        </h5>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <td scope="col">Date</td>
                <td scope="col">Instrument</td>
                <td scope="col">Type</td>
                <td scope="col">Quantity</td>
                <td scope="col">Traded quantity</td>
                <td scope="col">Price</td>
                <td scope="col">Status</td>
                <td scope="col"></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders;">
                <td>{{order.updateTimestamp | date}}</td>
                <td>{{order.instrument.name}}</td>
                <td>{{order.side}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.tradedQuantity}}</td>
                <td>{{order.price}}</td>
                <td>{{order.status}}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm btn-danger btn-block"
                    (click)="deleteOrder(order.id)"
                    [hidden]="order.status != 'ACTIVE'">
                    <i class="fa fa-trash"></i> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
