<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Orders
        </h5>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Instrument</th>
                <th *ngIf="user?.role.isAdmin" scope="col">User</th>
                <th scope="col">Side</th>
                <th scope="col" class="text-right">Qty</th>
                <th scope="col" class="text-right">Trd</th>
                <th scope="col" class="text-right">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let order of orders;">
                <tr *ngIf="(!configOptions?.hideExpiredInstruments?.value || order.instrument.status == 'ACTIVE') &&
                           (!configOptions?.hideNonActiveOrders?.value || order.status == 'ACTIVE')">
                  <td>
                    <a routerLink="/instruments/{{order.instrument.id}}">
                      <span [ngClass]="'flag-icon flag-icon-' + order.instrument.underlying.isin"></span>
                      {{order.instrument.name}}
                    </a>
                  </td>
                  <td *ngIf="user?.role.isAdmin" scope="col">{{order.user.name}}</td>
                  <td>{{order.side}}</td>
                  <td class="text-right">{{order.quantity | number:'.0-0'}}</td>
                  <td class="text-right">{{order.tradedQuantity  | number:'.0-0'}}</td>
                  <td class="text-right">{{order.price | number:'.2-2'}}</td>
                  <td>{{order.status}}</td>
                  <td title="{{order.createTimestamp}}">{{order.createTimestamp | date:'HH:mm, MMM, d'}}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm btn-primary btn-block"
                      routerLink="/orders/{{order.id}}">
                      <i class="fa fa-edit"></i> Edit
                    </button>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm btn-danger btn-block"
                      (click)="openWithdrawModal(orderWithdraw, order)"
                      [hidden]="order.status != 'ACTIVE'">
                      <i class="fa fa-trash"></i> Withdraw
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<config-menu [(options)]="configOptions"></config-menu>

<ng-template #orderWithdraw>
    <div class="card" *ngIf="orderToWithdraw">
      <div class="card-body">
        <h5 class="card-title">
          Withdraw order
        </h5>
        <div class="row">
          <div class="col-5 col-lg-4"><b>Instrument</b></div>
          <div class="col">{{orderToWithdraw.instrument.name}}</div>
        </div>
        <div class="row">
          <div class="col-5 col-lg-4"><b>Side</b></div>
          <div class="col">{{orderToWithdraw.side}}</div>
        </div>
        <div class="row">
          <div class="col-5 col-lg-4"><b>Quantity</b></div>
          <div class="col">{{orderToWithdraw.quantity | number:'.0-0'}}</div>
        </div>
        <div class="row">
          <div class="col-5 col-lg-4"><b>Price</b></div>
          <div class="col">{{orderToWithdraw.price | number:'.2-2'}}</div>
        </div>
        <br>
        <button type="button" class="btn btn-success mr-2" (click)="withdrawOrder(orderToWithdraw.id)" ><i class="fa fa-paper-plane-o"></i> Submit</button>
        <button type="button" class="btn btn-danger" (click)="withdrawModal.hide()" ><i class="fa fa-times"></i> Abort</button>
      </div>
    </div>
</ng-template>
