.register-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: -75px;
}
.form-control {
  padding: 10px;
}
button {
  margin-top: 10px;
}
.alert {
  margin-top: 1rem;
}
h6 {
  font-size: .7rem;
  margin-bottom: 0;
}
