Welcome {{ user.name }}!

<mat-card>
  <mat-card-title>
    Market
  </mat-card-title>
  <mat-table #table [dataSource]="instruments">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expiry">
      <mat-header-cell *matHeaderCellDef>Expiry</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.expiry | date }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="instrumentColumns"></mat-header-row>
    <mat-row class="row-clickable" *matRowDef="let instrument; columns: instrumentColumns;" [routerLink]="['/order/'+instrument.id]"></mat-row>
  </mat-table>
</mat-card>

<mat-card>
  <mat-card-title>
    Orders
  </mat-card-title>
  <mat-table #table [dataSource]="orders">

    <ng-container matColumnDef="instrument">
      <mat-header-cell *matHeaderCellDef>Instrument</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.instrument.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="side">
      <mat-header-cell *matHeaderCellDef>Side</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.side }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.quantity }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tradedQuantity">
      <mat-header-cell *matHeaderCellDef>Traded Quantity</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.tradedQuantity }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="orderColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: orderColumns;"></mat-row>
  </mat-table>
</mat-card>

<mat-card>
  <mat-card-title>
    Trades
  </mat-card-title>
  <mat-table #table [dataSource]="trades">

    <ng-container matColumnDef="instrument">
      <mat-header-cell *matHeaderCellDef>Instrument</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.instrument.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="side">
      <mat-header-cell *matHeaderCellDef>Side</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.side }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.quantity }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="counterparty">
      <mat-header-cell *matHeaderCellDef>Counterparty</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.counterparty.name }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tradeColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tradeColumns;"></mat-row>
  </mat-table>
</mat-card>
