<div class="card-deck">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Create derivative
      </h5>
      <div class="form-group">
        <label for="index">Index</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-fw fa-newspaper-o" aria-hidden="true"></i></span>
          </div>
          <input
            type="text"
            class="form-control"
            name="index"
            id="index"
            [typeahead]="indices"
            [typeaheadMinLength]="0"
            typeaheadOptionField="name"
            placeholder="Click to select index"
            [(ngModel)]="index"
            required />
        </div>
      </div>
      <div class="form-group">
        <label for="date">Expiry date</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-fw fa-calendar" aria-hidden="true"></i></span>
          </div>
            <input
              type="date"
              class="form-control"
              name="settlementDate"
              id="settlementDate"
              [min]="minDate"
              [(ngModel)]="expiry"
              required />
         </div>
      </div>
    </div>
    <div class="card-footer">
      <button
        type="submit"
        class="btn btn-lg btn-primary btn-block"
        (click)="createDerivative()">
        <i class="fa fa-paper-plane-o"></i> Create
      </button>
      <div [hidden]="!createDerivativeStatusMessage" class="alert alert-success" role="alert">
        {{createDerivativeStatusMessage}}
      </div>
      <div [hidden]="!createDerivativeErrorMessage" class="alert alert-danger" role="alert">
        {{createDerivativeErrorMessage}}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Add Settlement Price
      </h5>
      <div class="form-group">
        <label for="derivative">Derivative</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-fw fa-newspaper-o" aria-hidden="true"></i></span>
          </div>
          <input
            type="text"
            class="form-control"
            name="derivative"
            id="derivative"
            [typeahead]="derivatives"
            [typeaheadMinLength]="0"
            typeaheadOptionField="name"
            placeholder="Click to select derivative"
            [(ngModel)]="derivative"
            (typeaheadOnSelect)="derivativeOnSelect($event)"
            required />
        </div>
      </div>
      <div class="form-group">
        <label for="settlementDate">Date</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-fw fa-calendar" aria-hidden="true"></i></span>
          </div>
          <input
            type="date"
            class="form-control"
            name="settlementDate"
            id="settlementDate"
            [(ngModel)]="settlementDate"
            required />
         </div>
      </div>
      <div class="form-group">
        <label for="settlementValue">Value</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-fw fa-money" aria-hidden="true"></i></span>
          </div>
          <input
            type="number"
            class="form-control"
            name="settlementValue"
            id="settlementValue"
            placeholder="Enter value"
            [(ngModel)]="settlementValue"
            required />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button
        type="submit"
        class="btn btn-lg btn-primary btn-block"
        (click)="addSettlementPrice()">
        <i class="fa fa-paper-plane-o"></i> Create
      </button>
      <div [hidden]="!addSettlementPriceStatusMessage" class="alert alert-success" role="alert">
        {{addSettlementPriceStatusMessage}}
      </div>
      <div [hidden]="!addSettlementPriceErrorMessage" class="alert alert-danger" role="alert">
        {{addSettlementPriceErrorMessage}}
      </div>
    </div>
  </div>

</div>

<div class="card-deck mt-4">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Execute Job
      </h5>
      <div class="form-group">
        <label for="job">Job</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-fw fa-cogs" aria-hidden="true"></i></span>
          </div>
          <input
            type="text"
            class="form-control"
            name="job"
            id="job"
            [typeahead]="jobs"
            [typeaheadMinLength]="0"
            placeholder="Click to select job"
            [(ngModel)]="job"
            required />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button
        type="submit"
        class="btn btn-lg btn-primary btn-block"
        (click)="runJob()">
        <i class="fa fa-paper-plane-o"></i> Run
      </button>
      <div [hidden]="!runJobStatusMessage" class="alert alert-success" role="alert">
        {{runJobStatusMessage}}
      </div>
      <div [hidden]="!runJobErrorMessage" class="alert alert-danger" role="alert">
        {{runJobErrorMessage}}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
    </div>
  </div>

</div>
